event-detail {
    .required{
        color: red;
    }
    .toHeading{
        text-align: center;
        padding-top: 40px;
    }
    .divTitle{
        padding-left: 20px;
    }
    .addGuestButtonCol{
        display: -webkit-inline-flex;
        -webkit-align-items: center;
    }

    .autocomplete {
        width: 100%;
      
        ion-item {
            ion-input {
                padding: 1px !important;
            }
        }
      
        ion-list {
            position: absolute;
            width: 95%;
            overflow-y: scroll;
            max-height: 150%;
            border: 5px;
            z-index: 999;
      
            ion-item {
                background: #f1f1f1;
            }
      
            ion-item:hover {
                cursor: pointer;
                background: #dddddd
            }
        }
    }
}
